/* Reset */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 0.1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 15px solid slategrey;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

/*
  * CUSTOM STYLES 
  */
body {
    background-color: black;
}

/* Nav */

nav {
    margin-top: 20px;
}

.nav-color {
    color: red;
}

.nav-color2 {
    color: yellow;
}

div.container ul {
    margin: auto;
    padding-left: 0;
    list-style: none;
}
div.container ul a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/* Nav 2 streamerCard */

div.flexAccueil {
    display: flex;
}

div.streamer img {
    border: 1px solid transparent;
    border-radius: 10%;
}

div.streamer {
    margin: 0 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    // transition: all 0, 4s;
}

div.streamer:hover {
    background-color: rgba(255, 208, 0, 0.123);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    margin: 0 30px;
    // transform: translateY(-5px);
    // transform: scale(2);
}

div.streamer a {
    color: red;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

div.streamer p.user_name {
    font-size: 13px;
    color: red;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

div.streamer p.user_viewer {
    font-size: 13px;
}

div.StreamerNameOff {
    margin-right: 30px;
}

/* ////////////////////////
  ///////////////
  ///////// FIN DE PARTIE NAV */

div.card-deck {
    margin: 100px auto 30px auto;
}

div.card {
    background-color: black;
    min-width: 147px;
}

div.card-deck img {
    margin: auto;
    object-fit: contain;
}

div.image {
    width: 147px;
    height: 230px;
    img {
        width: 147px;
        height: 230px;
    }
}

div.card-body {
    background-color: #ffffff;
}

div.card-deck div.titre {
    margin: auto;
    display: none;
}

div.card-deck div.card div.card-body {
    margin: auto !important;
    padding: 0 !important;
    display: none;
}

div.card-deck div.card div.card-footer {
    background-color: #fff;
    display: none;
}

/* HOVER */

div.card-deck img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: pointer;
}

/* FILM */

img.Image_acteur {
    width: 9vw;
    height: 21vh;
    margin: 10px 10px 10px 0px;
    border: 1px solid transparent;
    border-radius: 35%;
}
